# Ignore compiled Python
__pycache__/
*.py[cod]

# Common IDE junk
.venv/
.vscode/
.idea/
node_modules/

# Build artifacts
build/
dist/
*.egg-info/

# Model checkpoints (you want to mount these, not bake them)
checkpoints/

# Mount instead of bake
backups/
final_lora_model/
rag_data/geology/faiss_index/   # RAG generated index, will be re-created or mounted

# Logs & cache
*.log
*.sqlite
.env
output/
.cache/
*.tar
*.tar.gz
llm/
*.whl
*.tar.xz
torch-*.whl
cudnn-*.tar.xz
*.gguf
data/

# Safe to exclude globally
/root/.cache/
